* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #afd0bf;

}



section {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

article {
    columns: 2;
    background-color: #f7edec;
    height: 550px;
    width: 48%;
    border-radius: 3px;
    box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.3);

}

article img {
    width: 100%;
    height: 550px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;

    object-fit: cover;
    margin-bottom: 15px;
}

h2 {
    color: orange;
    margin-bottom: 20px;
    padding-top: 25px;
    padding-inline: 10px;
}

p {
    text-align: justify;
    padding-inline: 10px;
    font-size: 15px;
    line-height: 1.5;



}

h3 {
    text-align: center;
    margin-top: 35px;
    color: orange;
    font-size: 25px;
}

button {
    display: block;
    margin: 30px auto;
    background-color: orange;
    color: white;
    border-radius: 15px;
    padding: 8px 45px;
}

@media (min-width: 768px) and (max-width: 1023px) {
    section {
        flex-direction: column;
        align-items: center;

    }

    article {
        width: 90%;
        margin-bottom: 30px;
    }



}

@media (min-width: 0px) and (max-width: 767px) {


    section {
        flex-direction: column;
        align-items: center;

    }

    article {
        width: 90%;
        margin-bottom: 30px;
        height: 640px;
        display: flex;
        flex-direction: column;
        box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);

        

    }
    h2{
        font-size: 20px;
        padding-top: 15px;
    }


    button {
        display: block;
        margin: 10px auto;

    }


    article img {

        object-fit: cover;
        width: 100%;

        height: 300px;
    }


}
